body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-contniner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
}
.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.main-container-section {
}
.about-me-section {
}
.my-project-section {
}
.my-work-experience {
}
.my-education-experience {
}
/* sidebar sections */
.sidebar-sections {
  background-color: #1e2939;
  width: 370px p;
  padding: 40px 0;
}

.contacs-section,
.soft-skil-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* Contact section */
.contacs-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}

.contacs-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tech-skills-list,
.soft-skil-list {
  padding: 0 0 0 20px;
}

.skils-item {
  color: #fb603a;
}

.text-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
